<form ngForm #form = "ngForm" 
(ngSubmit)="login(form.value)">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="customerId">CustomerId</label>
        <input 
            type="number" 
            ngModel 
            required
            minlength="5"
            maxlength="8"
            #customerId="ngModel"
            name="customerId"
            class="form-control" 
            id="customerId" 
            aria-describedby="name" 
            placeholder="Enter your CustomerId">
      </div>
      <!-- <div class="alert alert-danger" *ngIf="customerName.touched && customerName.invalid">
          <span *ngIf="customerName.errors.required">CustomerId field is required</span>
          <span *ngIf="customerName.errors.minlength">
            Name field is required -
             {{customerName.errors.minlength.requiredLength - customerName.errors.minlength.actualLength}}</span> 
      </div> -->
      <div class="form-group">
        <label for="password">Password</label>
        <input 
            type="password" 
            class="form-control" 
            name="password"
            required 
            ngModel 
            #password = "ngModel"
            id="password" placeholder="Enter your Password">
      </div>
      <!-- <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
          <span>password is mandatory</span>
      </div> -->
      <button 
            type="submit" 
            [disabled]="form.invalid"
            class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
