.list-group-item{
    background-color:#ff3636;
}
a{
    color:white;
}
.is-active {
    background-color:black;
    border: 6px solid #ff3636;
    border-left: 6px solid black;
    border-radius: 5px;
}
/* ul#nav li a:hover,ul#nav li.active a{
    
    background-color:yellow;
   }    */

/* .active{
/* background-color: blue; */
/* border-style: double;
border: 5px solid yellow;
border-left: 6px solid red;
} */
 /* a:active{
     background:blue;
 } */ 

  