
<ul class="navbar-nav" id ="nav">
  <li class="list-group-item list-group-item-action active">
    <a [routerLink]="['addCustomer']" 
      routerLinkActive="router-link-active">Add Customer</a>
  </li>
  <li class="list-group-item list-group-item-action">
      <a [routerLink]="['modifyCustomer']" 
        routerLinkActive="router-link-active">Modify Customer</a>
  </li>
  <li class="list-group-item list-group-item-action">
      <a [routerLink]="['deleteCustomer']" 
        routerLinkActive="router-link-active">Delete Customer</a>
  </li>
  <li class="list-group-item list-group-item-action">
      <a [routerLink]="['addAccount']" 
        routerLinkActive="router-link-active">Add Account</a>
  </li>
  <li class="list-group-item list-group-item-action">
      <a [routerLink]="['deleteAccount']" 
        routerLinkActive="router-link-active">Delete Account</a>
  </li>
</ul>