
<ul class="navbar-nav" id ="nav">
  <li class="list-group-item list-group-item-action" routerLinkActive="is-active">
    <a [routerLink]="['addCustomer']" 
      >Add Customer</a>
  </li>
  <li class="list-group-item list-group-item-action" routerLinkActive="is-active">
      <a [routerLink]="['modifyCustomer']" 
        >Modify Customer</a>
  </li>
  <li class="list-group-item list-group-item-action" routerLinkActive="is-active">
      <a [routerLink]="['deleteCustomer']" 
        >Delete Customer</a>
  </li>
  <li class="list-group-item list-group-item-action"  routerLinkActive="is-active">
      <a [routerLink]="['addAccount']" 
        >Add Account</a>
  </li>
  <li class="list-group-item list-group-item-action" routerLinkActive="is-active">
      <a [routerLink]="['deleteAccount']" 
        >Delete Account</a>
  </li>
</ul>