<ul class="navbar-nav">
  <li class="list-group-item list-group-item-action">
    <a [routerLink]="['myProfile']" 
      routerLinkActive="router-link-active">My Profile</a>
  </li>
  <li class="list-group-item list-group-item-action">
      <a [routerLink]="['fundTransfer']" 
        routerLinkActive="router-link-active">Fund Transfer</a>
  </li>
  <li class="list-group-item list-group-item-action">
      <a [routerLink]="['myStatement']" 
        routerLinkActive="router-link-active">My Statement</a>
  </li>
</ul>