<div class="container" id="accountRegistration">
	<h1>Account Details</h1>
	<div class="container" id="AddAccount">
		<form ngForm #form = "ngForm"
		(ngSubmit)="handleFormData(form.value,warningmsg.id)"
		action="/employee/register" 
		method="POST" modelAttribute="account">
		<div class="form-row" style="padding-block: 20%">
				<div class="form-group col-md-12">
					<label for="customerId">
						Customer Id
						<ng-container>
								<span #warningmsgcustomer id="warningmsgcustomer" name="warningmsgcustomer" class="badge badge-warning" style="margin:15px;background-size: 20px;font-size: 15px"></span>
						</ng-container>
					</label>
			        <input path="customerId" type="number" (keyup)="customerExistCheck(customerId.value,warningmsgcustomer.id)"
			        ngModel
                    required
			        #customerId="ngModel"
			        name="customerId"
					class="form-control" id="customerId" placeholder="Enter Customer Id" />
				</div>
				
		</div>
		<div class="form-row"  style="padding-block: 20%">
				<div class="alert alert-danger" *ngIf="customerId.touched && customerId.invalid">
					<span *ngIf="customerId.errors.required">Customer ID is required</span>
				</div>
                <div class="form-group col-md-12">
				  	<label for="accountType">Account Type</label>
					<select path="accountType" 
					ngModel 
                    required
					#accountType="ngModel"
					name="accountType"
					class="form-control" id="accountType">
					  	<option>Savings Account</option>
					  	<option>Current Account</option>
					  	<option>Salary Account</option>
                    </select>
				 </div>
				 <div class="alert alert-danger" *ngIf="accountType.touched && accountType.invalid">
					<span *ngIf="accountType.errors.required">Account Type is required</span>
				</div>
		</div>
		<div class="form-row" style="padding-block: 20%">
				<div class="form-group col-md-12">
					<label for="accountBalance">
						Account Balance
						<ng-container>
								<span #warningmsg id="warningmsg" name="warningmsg" class="badge badge-warning" style="margin:15px;background-size: 20px;font-size: 15px"></span>
						</ng-container>
					</label>
					<input path="accountBalance" type="number" (keyup)="minBalanceCheck(accountBalance.value,warningmsg.id)"
					ngModel
					required
					#accountBalance="ngModel"
					name="accountBalance"
					class="form-control" id="accountBalance" placeholder="Enter Account Balance" />
				</div>				
		</div>
		  <button type="submit" class="submit"  style="margin:10px" [disabled]="form.form.invalid ||  balanceInValid() || customerNotExists()">Create Account</button>
		</form>
	</div>
</div>