<div class="container" id="accountRegistration">
	<h1>Account Details</h1>
	<div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
		<strong>Success!</strong> You have registered customer's account successfully
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<form ngForm #form="ngForm" (ngSubmit)="handleFormData(form.value)" action="/employee/register" method="POST"
		modelAttribute="account">
		<div class="row" style="padding-block: 20%">
			<div class="col-md-12">
				<div class="form-group">
					<label for="customerId">
						Customer Id
						<ng-container>
							<span #warningmsgcustomer id="warningmsgcustomer" name="warningmsgcustomer"
								class="badge badge-warning"
								style="margin:15px;background-size: 20px;font-size: 15px"></span>
						</ng-container>
					</label>
					<input 
					path="customerId" 
					type="number"
					(keyup)="customerExistCheck(customerId.value,warningmsgcustomer.id)" 
					ngModel 
					required
					#customerId="ngModel" 
					name="customerId" 
					class="form-control" 
					id="customerId"
					placeholder="Enter Customer Id" />
				</div>
				<div class="alert alert-danger" *ngIf="customerId.touched && customerId.invalid">
					<span *ngIf="customerId.errors.required">Customer ID is required</span>
				</div>
			</div>
		</div>

		<div class="row" style="padding-block: 20%">
			<div class="col-md-12">
				<div class="form-group">
					<label for="accountType">Account Type</label>
					<select path="accountType" ngModel required #accountType="ngModel" name="accountType"
						class="form-control" id="accountType" placeholder="Select Account Type">
						<option>Savings Account</option>
						<option>Current Account</option>
						<option>Salary Account</option>
					</select>
				</div>
				<div class="alert alert-danger" *ngIf="accountType.touched && accountType.invalid">
					<span *ngIf="accountType.errors.required">Account Type is required</span>
				</div>
			</div>
		</div>
		<div class="row" style="padding-block: 20%">
			<div class="col-md-12">
				<div class="form-group">
					<label for="accountBalance">
						Account Balance
						<ng-container>
							<span #warningmsg id="warningmsg" name="warningmsg" class="badge badge-warning"
								style="margin:15px;background-size: 20px;font-size: 15px"></span>
						</ng-container>
					</label>
					<input 
					path="accountBalance" 
					type="number"
					(keyup)="minBalanceCheck(accountBalance.value,warningmsg.id)" 
					ngModel 
					required
					#accountBalance="ngModel" 
					name="accountBalance" 
					class="form-control" 
					id="accountBalance"
					placeholder="Enter Account Balance" />
				</div>
			</div>
		</div>
		<button type="submit" class="submit"
			[disabled]="form.form.invalid ||  balanceInValid() || customerNotExists()">Create Account</button>
	</form>
</div>