<div class="container" id="deletion">
  <h1>Customer Deletion</h1>
  <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> You have deleted customer successfully
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <form ngForm #form = "ngForm" 
      (ngSubmit)="handleDelete(form.value.customerId)"
      action="/employee/delete" 
      method="POST">
      <div class="form-row">
          <label for="customerId">Customer ID</label>
          <input 
            type="number" 
            ngModel
            required
            #customerId="ngModel"
            class="form-control" 
            name = "customerId" 
            id="customerId" 
            placeholder="CustomerId">
      </div>
      <br/>
      <button type="submit" class="submit">Delete Customer</button>
    </form>
</div>