<div class="container" id="deletion">
  <h1>Customer Registration</h1>
    <form ngForm #form = "ngForm" 
      (ngSubmit)="handleDelete(form.value.customerId)"
      action="/employee/delete" 
      method="POST">
      <div class="form-row">
          <label for="customerId">Customer ID</label>
          <input 
            type="number" 
            ngModel
            required
            #customerId="ngModel"
            class="form-control" 
            name = "customerId" 
            id="customerId" 
            placeholder="CustomerId">
      </div>
      <br/>
      <button type="submit" class="btn btn-primary">Delete</button>
    </form>
</div>