<div class="container-fluid bg-1">
    <div class="row">
        <div class=" col1 text-center center-block" >
            <h1>THE ALL-NEW ONLINE BANKING
              EXPERIENCE IS HERE</h1>
            <p>Introducing A Richer, More Flexible, More Meaningfull Online Banking Experience</p>
            <h3><i class="glyphicon glyphicon-hand-down"></i></h3>
           
        </div>  
    </div>


<div class="container-fluid bg-2" >
<div class="row text-center">
    <h1>Regardless of where you live and what you study, if you need a mentor,just MOD it.</h1>>


</div>
</div>
</div>

