<div class="container" id="moneytransfer">
  <h1>Customer Money Transaction</h1>
    <form 
    method="POST" >
    <div class="form-row">
      <div class="form-group col-md-6" >
            <label for="typeOfTransaction">Type Of Transaction</label>
            <select class="form-control"  [(ngModel)]="typeOfTransaction"
                 required  name="typeOfTransaction">
                 <option >none</option>
              <option >Debit</option>
              <option>Credit</option>
            </select>
      </div>
      <div class="form-group col-md-6" >
          <label for="fromAccountId">From AccountNumber</label>
          <select class="form-control"  [(ngModel)]="fromAccountId"
              required name="fromAccountId">
              <option>none</option>
            <option *ngFor="let account of allAccounts">{{account.accountNumber}}</option>

          </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="toAccountId">To AccountNumber</label>
        <input 
        type="number" 
        class="form-control" 
        required
        name="toAccountId" 
        [(ngModel)]="toAccountId"
        placeholder="toAccountId">
       </div>
      <div class="form-group col-md-6">
        <label for="transactionAmount">Transaction Amount</label>
        <input type="number" 
        class="form-control" 
        required
        name="transactionAmount" 
        [(ngModel)]= "transactionAmount"
        placeholder="transactionAmount">
      </div>
    </div>
    <button type="submit" class="submit" (click)="doTransaction()">Transfer</button>
  </form>
  </div>